
.my-footer {
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: #ffffff;
  font-size: 80%;
}

.room-image {
  max-width: 50%
}

.redText {
  color: red;
}

 /* override styles here */
.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 10000;
}
